
.cards__wrapper {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;

}
.divisor__card {
    color: #1400FF !important;
    border: none !important;
    padding: 1rem;
}